<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="ClassLibrary.Directorios" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <ClassLibrary.Directorios>
            <setting name="dir_usuarios" serializeAs="String">
                <value>C:\Proyecto\Empleado</value>
            </setting>
            <setting name="name_data_usuarios" serializeAs="String">
                <value>usuario.dat</value>
            </setting>
            <setting name="name_con_usuarios" serializeAs="String">
                <value>usuario.con</value>
            </setting>
        </ClassLibrary.Directorios>
    </userSettings>
</configuration>